@page "/game/{Id:int}"

<PageTitle>Game Details - Tailspin Toys</PageTitle>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <GameDetails GameId="Id" />
</div>

@code {
    [Parameter]
    public int Id { get; set; }
}
